@import "./.fonts.css";
:root {
  --desktop-min: 1200px;
	--laptop-min: 900px;
	--laptop-max: calc(var(--desktop-min) - 1px);
	--tablet-min: 720px;
	--tablet-max: calc(var(--laptop-min) - 1px);
	--mobile-min: 300px;
	--mobile-max: calc(var(--tablet-min) - 1px);
}

body {
	background: hsl(233, 47%, 96%);
	font-family: 'Montserrat', sans-serif;
}

hr {
	border: 1.5px solid hsl(210, 55%, 41%)
}

#about-heading {
	font-weight: 300;
}

#mission-heading {
	font-weight: 300;
}

.crd {
	background: hsl(233, 47%, 96%);
	transition: all;
}

.crd:hover {
	background: hsl(210, 55%, 41%);
	color: #fff;
	transition: 0.5s;
} 

.card img {
	margin: auto;
	
}

#rounded_circle {
	width: 76px;
    aspect-ratio: 1;
    background-color: hsl(0, 0%, 75%);
}

footer a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

footer a i {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  color: white;
}

footer li:hover {
	color: hsl(24, 83%, 65%);
	transition: 0.2s;
  }
  
  footer i:hover {
	color: hsl(24, 83%, 65%);
	transition: 0.2s;
  }
  

#footer {
  color: hsl(0, 0%, 100%);
}

#copyright {
  border-top: 1px solid hsl(0, 0%, 20%);
}

.c-item {
	height: 90%;
}

.c-img {
	height: 100%;
	object-fit: cover;
	filter: brightness(0.6);
}

#team-img {
	height: 100%;
	object-fit: cover;
}



/* #sub-header {
	color: hsl(18, 100%, 62%);
} */

#navbar-color {
	background-color: hsl(210, 45%, 30%);
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border: 1px solid hsl(0, 0%, 100%);
	outline: none;
	box-shadow: none;
}

.carousel-indicators .active {
	background-color: hsl(18, 100%, 62%);
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='hsl(18, 100%, 62%)'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='hsl(18, 100%, 62%)'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

#button {
	background-color:hsl(18, 100%, 62%);
	border-color: hsl(18, 100%, 62%);
}

#nav_object {
	position: relative;
}


.dropdown-menu {
	/* display: block; */
	background-color: hsl(210, 45%, 30%);
}

.dropdown-item:hover {
	background-color: hsl(210, 55%, 41%);
}
#services-link {
    color: hsl(18, 100%, 62%);
}
#nav_object {
	position: relative;
}

@media (min-width: 576px) {
	#nav_object::after {
		content: '';
		opacity: 0;
		transition: all 0.2s;
		height: 2px;
		width: 100%;
		background: hsl(18, 100%, 62%);
		position: absolute;
		bottom: 0;
		left: 0;
	}
	
	#nav_object:hover::after {
		opacity: 1;
	}
}



/* @media screen and (max-width: 576px) {
	.dropdown:hover > .dropdown-menu {
		display: block;
		margin-top: 0;
	}
} */
/* NEW */

footer p {
  padding-top: 8px !important;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  footer h4 {
    font-size: 1rem !important;
  }
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto
    
}

.carousel-caption h1 {
    font-size: 500%;
    transform: uppercase;
    text-shadow: 1px 1px 15px hsl(0, 0%, 0%);
    
}

.carousel-caption h4 {
    font-size: 200%;
    font-weight: 500;
    padding-bottom: 1rem;
    /* margin-top: -1.25rem; */
    text-shadow: 1px 1px 10px hsl(0, 0%, 0%);
    
}

#button {
    background-color:hsl(18, 100%, 62%);
    border: 1px solid hsl(18, 100%, 62%);
}

#button:hover {
    background-color:hsl(24, 83%, 65%);
    border: 1px solid hsl(24, 83%, 65%);
}

@media screen and (min-width: var(--laptop-min)) and (max-width: var(--laptop-max)) {
    
    
    .carousel-caption {
        top: 50%;
    }
    
    .carousel-caption h1 {
        padding-top: 15px;
    }
    
    .carousel-caption h4 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
        margin-top: -1.25rem;       
    }
    #button {
        font-size: 95%;
        padding: 8px 14px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .carousel-caption {
        top: 50%;
    }
    
    .carousel-caption h1 {
        font-size: 50px;
        padding-top: 10px;
        
        
        
    }
    
    .carousel-caption h4 {
        padding-bottom: .1rem;
        /* margin-top: -1.25rem; */
    }
    .carousel-caption .btn {
        font-size: 20px;
        padding: 8px 14px;
        
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .carousel-caption {
        top: 40%;
    }
    
    .carousel-caption h1 {
        font-size: 30px !important;
        padding-top: 5px;
        
        
        
    }
    
    .carousel-caption h4 {
        font-size: 20px;
        /* margin-top: -1.25rem; */
        
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
        
    }

    .carousel-indicators {
        display: none;
    }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
    .carousel-caption {
        top: 30%;
    }
    
    .carousel-caption h1 {
        font-size: 20px !important;
        padding-top: 10px;
        
        
        
    }
    
    .carousel-caption h4 {
        font-size: 13px;
        /* margin-top: -1.25rem; */
        
    }
    .carousel-caption .btn {
        font-size: 17px!important;
        /*padding: 4px 8px;*/
        
    }

    .carousel-indicators {
        display: none;
    }

    #digital-signage {
        .carousel-caption h1 {
            margin-top: 15px;
        }
    }
}

/* OLD DROPDOWN HOVER CODE START */

/* .dropdown:hover .dropdown-menu {
	display: block;
	background-color: hsl(210, 45%, 30%);
}

.dropdown-item:hover {
	background-color: hsl(210, 55%, 41%);
} */

/* @media screen and (max-width: 576px) {
	.dropdown:hover > .dropdown-menu {
		display: block;
		margin-top: 0;
	}
} */

/* OLD DROPDOWN HOVER CODE CLOSE */