@import "./.fonts.css";


@font-face {
    font-family: "Montserrat", sans-serif;
    
    
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

html {
/*     font-size: 16px; */
    background-color: #fffffe;
}
body {
    padding: 0 20px;
    min-width: 300px;
    font-family: "Montserrat", sans-serif;
    
    background: hsl(233, 47%, 96%);
    color: #1a1a1a;
    text-align: center;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased
}

}

.site-header {
    margin: 0 auto;
    padding: 80px 0 0;
    max-width: 820px;
}
.site-header__title {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.main-content {
    margin: 0 auto;
    max-width: 820px;
}
.main-content__checkmark {
    font-size: 4.0625rem;
    line-height: 1;
    color: #24b663;
    
}
.main-content__body {
    margin: 20px 0 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}

#thank-you-message {
    
}



@media only screen and (min-width: 40em) {
    .site-header {
        padding-top: 150px;
    }
    .site-header__title {
        font-size: 6.25rem;
    }
    .main-content__checkmark {
        font-size: 9.75rem;
    }
    .main-content__body {
        font-size: 1.25rem;
    }
    
}

#sub-header {
    color: hsl(18, 100%, 62%);
}

#navbar-color {
    background-color: hsl(210, 45%, 30%);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border: 1px solid hsl(0, 0%, 100%);
    outline: none;
    box-shadow: none;
}

hr {
	border: 1.5px solid hsl(210, 55%, 41%)
}


#button {
    background-color:hsl(18, 100%, 62%);
    border-color: hsl(18, 100%, 62%);
}

#nav_object {
    position: relative;
}


@media (min-width: 576px) {
    #nav_object::after {
        content: '';
        opacity: 0;
        transition: all 0.2s;
        height: 2px;
        width: 100%;
        background: hsl(18, 100%, 62%);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    #nav_object:hover::after {
        opacity: 1;
    }
}

#navmenu {
  
}

footer a {
	color: hsl(0, 0%, 100%);
	text-decoration: none;
}

footer a  i {
	color: hsl(0, 0%, 100%);
	text-decoration: none;
	color:white;
}

#footer {
	color: hsl(0, 0%, 100%);
}

#copyright {
	border-top: 1px solid hsl(0, 0%, 20%) ;
}

@media (min-width: 576px) {
	footer li:hover {
		color: hsl(24, 83%, 65%);
		transition: 0.2s;
	}
	
	footer i:hover {
		color: hsl(24, 83%, 65%);
		transition: 0.2s;
	}
  
  
.dropdown-menu {
    /* display: block; */
    background-color: hsl(210, 45%, 30%);
    margin-top: 0;
    width: 175px;

    .btn {
        color: hsl(0, 0%, 100%);
    }

    .dropdown-item:hover {
        background-color: hsl(210, 55%, 41%);
    }
}

/* OLD DROPDOWN HOVER CODE START */

/* .dropdown:hover .dropdown-menu {
	display: block;
	background-color: hsl(210, 45%, 30%);
}

.dropdown-item:hover {
	background-color: hsl(210, 55%, 41%);
} */

/* OLD DROPDOWN HOVER CODE CLOSE */