@import "./.fonts.css";

.form-control {
	border: 2px solid hsl(0, 0%, 0%);
}

.select-control {
	border: 2px solid hsl(0, 0%, 0%);
}

#submit-button {
	border: none;
	border-radius: 0;
	background: hsl(18, 100%, 62%);
	width: 180px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}

#submit-button:hover {
    background-color: hsl(18, 100%, 62%);
}

/* #container-background {
	background-color: hsl(0, 0%, 100%);
} */

#nav_object {
	position: relative;
}

.dropdown-menu {
	/* display: block; */
	background-color: hsl(210, 45%, 30%);
}

.dropdown-item:hover {
	background-color: hsl(210, 55%, 41%);
}

@media (min-width: 576px) {
	#nav_object::after {
		content: '';
		opacity: 0;
		transition: all 0.2s;
		height: 2px;
		width: 100%;
		background: hsl(18, 100%, 62%);
		position: absolute;
		bottom: 0;
		left: 0;
	}
	
	#nav_object:hover::after {
		opacity: 1;
	}
}

/* OLD DROPDOWN HOVER CODE START */

/* .dropdown:hover .dropdown-menu {
	display: block;
	background-color: hsl(210, 45%, 30%);
}

.dropdown-item:hover {
	background-color: hsl(210, 55%, 41%);
} */

/* OLD DROPDOWN HOVER CODE CLOSE */