// Importing fonts from a separate CSS file
@import "./.fonts.css";

// Styles for dropdown hover and dropdown items hover
.dropdown:hover .dropdown-menu {
  display: block;
  background-color: hsl(210, 45%, 30%);
}

.dropdown-item:hover {
  background-color: hsl(210, 55%, 41%);
}

// Styles for the form area
.form-area {
  padding-top: 7%;

  .row.single-form {
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
  }

  .left {
    background: blueviolet;
    padding: 200px 98px;

    h2 {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-weight: 700;
      font-size: 48px;

      span {
        font-weight: 100;
      }
    }
  }

  .single-form {
    background: #fff;
  }

  .right {
    padding: 70px 100px;
    position: relative;

    i {
      position: absolute;
      font-size: 80px;
      left: -27px;
      top: 40%;
      color: #fff;
    }

    .form-control {
      border: 2px solid #000;
    }

    button {
      border: none;
      border-radius: 0;
      background: hsl(18, 100%, 62%);
      width: 180px;
      color: #fff;
      padding: 15px 0;
      display: inline-block;
      font-size: 16px;
      margin-top: 20px;
      cursor: pointer;

      &:hover {
        background-color: hsl(18, 100%, 62%);
      }
    }

    // Responsive design using media query
    @media (min-width: 768px) and (max-width: 991px) {
      i {
        top: -52px;
        transform: rotate(90deg);
        left: 50%;
      }
    }

    // Additional styles for smaller screens
    @media (max-width: 767px) {
      padding: 25px;

      i {
        top: -52px;
        transform: rotate(90deg);
        left: 46%;
      }

      button {
        width: 150px;
        padding: 12px 0;
      }
    }
  }
}

#info {
  a {
    color: hsl(0, 0%, 100%);
  }
}

.navbar-light {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-toggler {
    border: 1px solid white;
  }
}

#button {
  background-color: hsl(18, 100%, 62%);
  border-color: hsl(18, 100%, 62%);
}

.nav-link {
  position: relative;

  &:hover {
    &::after {
      content: '';
      opacity: 0;
      transition: all 0.2s;
      height: 2px;
      width: 100%;
      background-color: hsl(18, 100%, 62%);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &::after {
      opacity: 1;
    }
  }
}