.carousel-text h2 {
	margin-top: 0;
}

.carousel-text p {
	font-weight: 700;
	color: white;
}

.carousel-caption {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 1.25rem;
    padding: 1.25rem;
    color: #fff;
    text-align: center;
}
